@import "colors.scss";
@import "sizes.scss";

.section-button {
  text-align: center;
  background-color: $orange;
  text-decoration: none;
  color: $white;
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: $radius;
  font-weight: 600;
  font-size: 17px;
  justify-self: center;
  transition: all 0.2s ease-out;
  &:hover{
    box-shadow: 0px 4px 10px $orange;
    transition: all 0.2s ease-in;
  }
}

.pointer {
  cursor: pointer;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  display: grid;
  align-content: space-between;
  gap: 10px;
  &:hover {
    box-shadow: 0px 10px 10px #1f3c5c68;
    transition: all 0.2s ease-in;
    transform: translate(0, -4px);
  }
}
